# Unison sync files
/.unison.*.tmp

# VScode folder
/.vscode

# Backup copies of Manifest and Project
/Manifest (copy).toml
/Project (copy).toml

# Auxiliary directories with redundant code
/misc
/outdated

# Contents of data directory
/data/*
!/data/.gitkeep

# Generated figures
/plot/figures/*

# Slurm submission script
/run_ff3d.slurm

# Slurm output files
slurm*.out

# Scratch file for obsolete lines of code
scratch.jl

# Copy of driver script for fast testing
src/ff3d_testing.jl

# Safety copies
*_bkp*

# Configuration file
config_template.toml

# Playground directory with obsolete code and testing scripts
/playground

# Initial weights file
initial_weights.jld2
