# Unison sync files
/.unison.*.tmp

# VScode folder
/.vscode

# Auxiliary directories with redundant code
/misc

# Contents of data directory
/data/*

# Generated figures
/plots/figures/*

# Slurm submission script
/run_ff3d.slurm

# Slurm output files
slurm*.out

# Safety copies
*_bkp*

# Configuration file
config_template.toml

# Initial weights file
initial_weights.jld2
